<div class = "container-fluid">
<div class = "row">


                <h1 class="modal-title">Information List</h1>
				

            <form action="http://localhost:8080/create" target="_blank" ng-submit="save()" enctype="multipart/form-data" id="person">
                <div class = "row col-md-6">
                    <h3>Personal Information</h3>
                    <div class="form-group col-md-6" >
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" ng-model="name" name="firstName">

                    </div>
                    <div class="form-group  col-md-6">
                        <label for="surname">Last Name</label>
                        <input type="text" class="form-control" id="surname" ng-model="surname" name="lastName">
                    </div>

                    <div class="form-group  col-md-6">
                        <label>Gender:</label>
                        <label class="radio-inline" for = "male" ng-model="gender">Male</label>
                        <input type="radio" name="optradio" id = "male" name="gender">
                        <label class="radio-inline" for = "female" >Female</label>
                        <input type="radio" name="optradio" id = "female" ng-model="gender" name="gender">
                    </div>

                    <!--<datepicker>-->
                        <!--<input ng-model="date" type="text" value ="date of birth"/>-->
                    <!--</datepicker>-->

                    <!--<div class="form-group  col-md-6">-->
                        <!--<label for="telNum">Telephone Number</label>-->
                        <!--<input type="text" class="form-control" id="telNum" ng-pattern="/^\d+$/">-->
                    <!--</div>-->

                    <div class="form-group  col-md-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="mail">
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="mr-sm-2" for="region">Region</label><br/>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="region" name="region">
                            <option selected >Choose...</option>
                            <option >Shirak</option>
                            <option>Lori</option>
                            <option >Tavush</option>
                        </select>
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="mr-sm-2" for="city">City</label><br/>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="city" name="city">
                            <option selected>Choose...</option>
                            <option >Shirak</option>
                            <option >Lori</option>
                            <option >Tavush</option>
                        </select>
                    </div>



                    <div class="form-group  col-md-6">
                        <label for="adress">Full Adress</label>
                        <input type="password" class="form-control" id="adress" name="adress">
                    </div>

                </div>

                <div class = "row col-md-6">
                    <h3>Professional Information</h3>

                    <div class="form-group  col-md-6">
                        <label for="pos">Position</label>
                        <input type="text" class="form-control" id="pos" name="position">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="startWork" class="col-2 col-form-label">Start work</label><br/>
                        <input class="form-control" type="date" value="2011-08-19" id="startWork" name="startWork">
                    </div>

                    <div class="form-group  col-md-6">
                        <label for="wage">Wage rate</label>
                        <input type="text" class="form-control" id="wage" name="wage">
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="mr-sm-2" for="department">Department</label><br/>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="department" name="department">
                            <option selected>Choose...</option>
                            <option >Foreign Affairs</option>
                            <option >PR</option>
                            <option >HR</option>
                            <option >Marketing</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="characteristics">Characteristics:</label>
                        <textarea class="form-control" rows="5" id="characteristics" name="characteristics"></textarea>
                    </div>

                </div>


                <div class = "row col-md-6">
                    <h3 class="col-md-12">Education</h3>
                    <div class = "educationSection">
                        <div class="form-group  col-md-6">
                            <label for="universaty">Universaty/Colage</label>
                            <input type="text" class="form-control" id="universaty" name="universaty[]">
                        </div>


                        <div class="form-group  col-md-6">
                            <label for="specialization">Specialization</label>
                            <input type="text" class="form-control" id="specialization" name="specialization[]">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="admissionYear" class="col-2 col-form-label">From</label>
                            <input class="form-control" type="date" value="2011-08-19" id="admissionYear" name="admissionYear[]">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="graduatedYear" class="col-2 col-form-label">To
                            </label>
                            <input class="form-control" type="date" value="2011-08-19" id="graduatedYear" name="graduatedYear[]">

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" style = "float:right" ng-click="addFields()">+</button>

                </div>


                <div class ="row col-md-6">
                    <h3 class="col-md-12">Work experience</h3>
                    <div class = "workSection">
                        <div class="form-group  col-md-6">
                            <label for="organization">Organization</label>
                            <input type="text" class="form-control" id="organization" name="organization[]">
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" id="position" name="position2[]">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="startedYear" class="col-2 col-form-label">From</label>
                            <input class="form-control" type="date" value="2011-08-19" id="startedYear" name="startedYear[]">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="quitYear" class="col-2 col-form-label">To
                            </label>
                            <input class="form-control" type="date" value="2011-08-19" id="quitYear" name="quitYear[]">

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" style = "float:right">+</button>


                </div>

			<div class="row col-md-6">
                    <button  type = "submit"  class="btn btn-primary">Save</button>
                    <button  type = "button" class="btn btn-primary" ng-click="update()">Update</button>
                    <button  type = "button"  class="btn btn-primary" ng-click="reset()">Reset</button>
                    
                </div>
               

            </form>
			




        </div>
        </div>

