<!DOCTYPE html>
<html lang="en"ng-app="formApp" >
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body >
<div class="container"  ng-controller​="formCtrl as ctrl">

    <form class="well form-horizontal" action="https://localhost:8080/create" target="blank" method="post"   enctype="multipart/form-data" id="reg_form">
        <fieldset>


            <h3>Employee Registration Form</h3>



            <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="first_name" ng-model="ctrl.user.fname" placeholder="First Name" class="form-control"  type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label" >Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" ng-model="ctrl.user.lname" placeholder="Last Name" class="form-control"  type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Date of birth</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input name="date" ng-model="ctrl.user.bdate" placeholder="Date of birth" class="form-control"  type="date">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" ng-model="ctrl.user.email" placeholder="E-Mail Address" class="form-control"  type="text">
                    </div>
                </div>
            </div>




            <div class="form-group">
                <label class="col-md-4 control-label">Phone #</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="phone" ng-model="ctrl.user.phone" placeholder="(374)000-000" class="form-control" type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="address" ng-model="ctrl.user.address" placeholder="Address" class="form-control" type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Position</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input name="position" ng-model="ctrl.user.position" placeholder="Position" class="form-control"  type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Department</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker" >
                            <option value=" " >Please select your department</option>
                            <option>Operations</option>
                            <option>IT Services</option>
                            <option >Human Resources</option>
                            <option >PR and Communication</option>
                            <option >Accounting</option>
                            <option >Security</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Gender</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="male" name="male" value="male" /> Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="female" name="female" value="male" /> Female
                        </label>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Additional Informarion</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                        <textarea class="form-control" ng-model="ctrl.user.other" name="comment" placeholder="Please provide other details,eg education,skills,etc."></textarea>
                    </div>
                </div>
            </div>


            


            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning" ng-click="ctrl.add()">Add <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</div>
<script>
        angular.module('formApp'..[]) ;
        .controller('formCtrl',[function(){

            var e=this;
            e.add=function()  {
                console.log('submitted',e.user)  ;
            }  ;
        }])


</script>
</body>
</html>