<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
<div class="container"  ng-controller​="appController">

    <form class="well form-horizontal" action=" " method="post"  id="reg_form">
        <fieldset>

<script src="//ajax.googleapis.com/…/angularjs/1.6.4/angular.min.js"></script>
<script>
  angular.module('formApp', []);
        .controller('formCtrl', [$scope,function($scope) {

       $scope.user={id:null,fname:'',lname:'',bdate:'',email:'',phone:'',address:'',position:'',department:'',gender:'',other:''};

      this.submit = function() {
           if($scope.form) {
               $scope.json.push(this.form);
               $scope.form='';
               console.log('Form is submitted with following user',JSON.stringify ($scope.user));
           } };
        }]);

</script>
</body>
</html>