.createButtonDiv{
    float: right;
    margin: 25px 0;
}
.margin{
    margin-top: 25px;
}
.marginRight{
    margin-right: 5px;
}
.width{
    width: 347px;
}

.floatLeftDiv{
    float: left;
    padding-left: 15px;
}
.uploadPhotoDiv{
    margin-left: 25px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: #cccccc;
    background-image: url('../img/slr-camera-xxl.png');
    background-repeat: no-repeat;
    background-position: 20px;
}
.submitButtonClass{
    margin-top: 15px;
    float: right;
}
.selectBoxStyle{
    width: 126px;
    float: left;
}
.selectBoxDayStyle{
    width: 87px;
    padding: 6px;
    float: left;
}