
<div>
    <form ng-controller="form_ctrl" name="form" action="http://locallhost:8080" enctype="multipart/form-data" method="get">
        <div class="col-md-6 form">
            <label>Name</label>
            <br>
            <input type="text" name="name" class="span3" ng-model="data.name">
            <br>
            <label>Surname</label>
            <br>
            <input type="text" name="surname" class="span3" ng-model="data.surname">
            <br>
            <label>Email Address</label>
            <br>
            <input type="email" name="email" class="span3" ng-model="data.email">
            <br>
            <label>Personal data</label>
            <br>
            <textarea name="personal_data" class="span3" ng-model="data.personalData"></textarea>
            <br>
            <label>Phone number</label>
            <br>
            <input type="text" name="phone" class="span3" ng-model="data.phone">
            <br>
            <label>Male</label><input type="radio" name="gender" class="radio" value="male" ng-model="data.gender">
            <label>Female</label><input type="radio" name="gender" class="radio" value="female" ng-model="data.gender">
            <br>
            <label>Salary</label>
            <br>
            <input type="text" name="salary" class="span3" ng-model="data.salary">
            <br>
            <label> Month Day Year</label>
            <br>
            <input type="date" value="born_data" name="born_data" class="span3" ng-model="data.born">
            <br>
            <label> Education</label>
            <br>
            <input type="text" name="education" class="span3" ng-model="data.education">
            <br>
            <input type="submit" value="Save" class="btn btn-primary">
                   <!--ng-disabled="form.name.$dirty && form.name.$invalid">-->

            <div class="clearfix"></div>
        </div>
    </form>
</div>
