<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="styles/employeesTableStyle.css">
    </head>
    <body>
        <div class="createButtonDiv">
            <input type="button" value="create" class="btn btn-primary">
        </div>
        <table class="table table-bordered">
            <tr>
                <td> # </td>
                <td> checkbox </td>
                <td> image </td>
                <td> Name </td>
                <td> Last Name </td>
                <td> Position</td>
                <td> Salary </td>
                <td>  </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> <input type="checkbox"></td>
                <td> <img src="img/asti.JPG" alt="asti"> </td>
                <td> Asti </td>
                <td> Sargsyan </td>
                <td> Position</td>
                <td>fvgfdvg </td>
                <td> <input type="button" value="update" class="btn btn-primary"> </td>
            </tr>
        </table>

    </body>
</html>