<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
        <form>
            <fieldset>
                <legend>Main Information </legend>
                <div class="row">
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="name" class="form-control" placeholder="name"> </div>
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="lastName" class="form-control" placeholder="Last name"></div>
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="name" class="form-control" placeholder="patronymic"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4">
                        <label><input type="radio" name="gender" value="male"> Male </label>
                        <label><input type="radio" name="gender" value="female"> female</label>
                        <label><input type="radio" name="gender" value="other"> other</label>
                    </div>
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="department" class="form-control" placeholder="department"></div>
                    <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="position" class="form-control" placeholder="position"></div>
                </div>
            </fieldset>
            <fieldset>
                <legend> Communication </legend>
                <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="phoneNumber" class="form-control" placeholder="Phone number"> </div>
                <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="email" class="form-control" placeholder="e-mail"></div>
                <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="address" class="form-control" placeholder="Address"></div>
            </fieldset>
            <fieldset>
                <legend> Additional information</legend>
                <textarea class="form-control" placeholder="characteristic"> </textarea>
            </fieldset>

        </form>

    </body>
</html>