
<form action="https://localhost:8080/create" target="_blank" method="post"  enctype="multipart/form-data" id="empoyeeRegistration">
    <fieldset>
        <legend>Main Information </legend>
        <div class="row margin">
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" ng-model="name" name="name" class="form-control" placeholder="name"> </div>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" ng-model="lastName" name="lastName" class="form-control" placeholder="Last name"></div>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" ng-model="patronymic" name="patronymic" class="form-control" placeholder="patronymic"></div>
        </div>
        <div class="row margin">
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4">
                <p> Gender </p>
                <label><input type="radio" ng-model="gender" name="gender" value="male"  ng-checked="checked" > Male </label>
                <label><input type="radio" ng-model="gender" name="gender" value="female"> female</label>
                <label><input type="radio" ng-model="gender" name="gender" value="other"> other</label>
            </div>



        </div>

        <div class="row margin">
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4">
                <p> Salary </p>
                <input type="number" class="form-control">
            </div>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4">
                <div class="uploadPhotoDiv">
                </div>

            </div>
        </div>
    </fieldset>
    <div class="row margin">
        <fieldset>
            <legend> Contact </legend>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="phoneNumber" class="form-control" placeholder="Phone number"> </div>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="email" class="form-control" placeholder="e-mail"></div>
            <div class="col-sm-1 col-xs-4 col-lg-4 col-md-4"><input type="text" name="address" class="form-control" placeholder="Address"></div>
        </fieldset>
    </div>





    <div class="submitButtonClass">
        <input type="submit" value="Create" class="btn btn-primary" >
    </div>
</form>
